* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: cadetblue;
    background-color:rgb(79, 67, 5);
    background-image: url(energy1.jpg);
  
}

.container {
    position: relative;
    width: 95%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: 0.5s;
    padding: 20px;
    max-width: 1200px;
}

.content {
    position: relative;
    max-width: 800px;
    display: flex;
    justify-content: space-between; 
}

.content a {
    display: inline-block;
}

.popup-content {
    display: flex;
   
}

.popup-text {
    flex: 1;
    padding-left: 20px; 
}

h3 {
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
}

.close {
    position: relative;
    padding: 5px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    background: black;
}

.container.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#popup.active {
    visibility: visible;
    opacity: 1;
}

.popup-img {
    height: 100%; 
    max-width: 50%; 
    display: none; 
}

.imageItem {
    width: 200px; 
    height: 250px;
    transition: transform 250ms ease;
    border-radius: 20px;
}

.imageItem:hover,
.imageItem:focus {
    transform: scale(1.03);
    box-shadow: 0 30px 50px;
}

.imageList{
    display:grid;
    gap:18px;
    grid-template-columns:repeat(8,1fr);
    overflow-x:auto;
    scrollbar-width:none;
    position: relative; 
}



.button{
    height:50px;
    width:50px;
    color:aliceblue;
    background:black;
    border-radius:50%;
    border:none;
    position: absolute; 
    top: 50%;
    transform: translateY(-50%); 
}

.leftButton{
    left: -60px; 
}

.rightButton{
    right: -60px; 
}
button:hover{
    background:burlywood;
}



.customize-form {
    position: absolute; 
    bottom: 20px; 
    left: 20px; 
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px; 
    border-radius: 10px; 
}

.customize-form select {
    margin-right: 10px; 
}


.web-gallery{
    text-align: center; 
    position: absolute; 
    top: 0;
    width: 100%; 
    padding: 20px; 
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    font-size: larger;
}