body {
      background-image: url('images/environment.jpeg');
      background-repeat: no-repeat;
      background-attachment: fixed;  
      background-size: cover;
    }
* {
      margin: 0;
      padding: 0;
  }
  #banner{
      text-align: center;
      font-size: 40px;
      padding-top: 80px;
      color:aqua;
  }
  
  .first {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; 
      height: 100vh;
  }
  
  .profile-photo {
      width: 400px;
      height: 400px;
      
     
  }
  
  .a{
      text-align: center;
      color: #2701ff;
      padding-top: 0px;
      font-size: medium;
  }
  
  .b{
      text-align: center;
      padding-top: 50px;
      color: black;
      background-color: lightgreen;
      border-radius: 100px;
  }
  
  .c{
      text-align: center;
      padding-top: 50px;
      color: black;
      background-color: lightgreen;
      border-radius: 100px;
  }
  
  .d{text-align: center;
      padding-top: 50px;
      color: black;
      background-color: lightgreen;
      border-radius: 100px;
  }
  
  .e{
      text-align: center;
      padding-top: 50px;
      color: black;
      background-color: lightgreen;
      border-radius: 100px;
  }
  
  